h1 {
    font-size: 28px;
    text-align: center;
}
p {
    font-size: 16px;
    text-align: center;
}
.timer {
    align-items: left;
    font-size: 20px;
}
.leaderScore{
    align-items: right;
    font-size: 20px;
}
.startQuiz{
    align-items: center;
}